/* NO MIRES THE RETURN OF THE KING */
:root:has(.nomires), :root:has(.nomires) *, :root:has(.nomires) *::before, :root:has(.nomires) *::after {
 } 
body#phpbb:has(a.mainmenu[href^="/register"]) {
  overflow:hidden;
}
:where(html,body#phpbb):has(a.mainmenu[href^="/register"]), .nomires, html:has(.nomires) {
  font:10px var(--fontmono);
  color:var(--colortxt);
}
body#phpbb.nomires {
  background-image:url(https://2img.net/i.imgur.com/MzOPdkO.png);
  background-color:transparent);
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border:0!important;
  outline:0!important;
  height:100dvh;
  overflow:hidden;
  display:grid;
  grid-template-columns:1fr;
  place-content:center;
  padding:0!important;
  padding:30px;
  & a {
    color: var(--colortxt);
    &:hover {
      color:rgba(var(--acento));
    }
  }
}
#nomires {
  margin-inline:auto;
  width:clamp(30rem, 60%, 60rem);
  background: var(--back1);
  background-clip:padding-box;
  padding:30px;
  aspect-ratio:5/2.5;
  max-height:65dvh;
  gap:1px;
  display:grid;
  clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 30px, 100% 100%, 30px 100%, 0% calc(100% - 30px));
  grid-template-columns:1fr 1.25fr;
  grid-template-rows:min-content min-content 1fr min-content;
  grid-template-areas:
  'links links'
  'img title'
  'img text'
  'form form';
  & > div {
    
  }
  & > .nm-img {
    grid-area:img;
    position:relative;
background: url(https://i.imgur.com/tv1t5rU.png);
            background-position: center;
            background-size: cover;
    &::before, &::after {
      content:'';
      position:absolute;
      inset:0;
    }
    &::before {
      background: rgba(var(--acento));
      z-index:-1;
    }
    &::after {
      background: var(--back2);
      z-index:-2;
    }
    & img {
      width:100%;
      height:100%;
      position:relative;
      z-index:-3;
      object-position:center;
      object-fit:cover;
    }
  }
  & > .nm-title {
    grid-area:title;
    border-bottom:var(--border1);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:3rem;
    text-align:center;
    & b {
      font: 40px var(--font);
      line-height:1em;
      color: rgb(var(--acento));
    }
    & i {
                  font: 9px var(--fontmono);
            text-transform: uppercase;
            color: var(--colortxt);
            max-width: 70%;
            text-align: justify;
            text-align-last: center;
            letter-spacing: 1.5px;
            line-height: 1.4em;
            font-weight: bold;
    }
  }
  & > .nm-text {
         grid-area: text;
         font-size: 9px;
         line-height: 14px;
        text-align: justify;
      overflow: auto;
     font-family: var(--fontmono);
    padding: 10px;
    &::-webkit-scrollbar { width:2px; }
    &::-webkit-scrollbar-thumb { background:rgba(var(--acento)); }
  }
  & > .nm-links {
    & > a {
      outline:var(--border1);
      display:flex;
      justify-content:center;
      align-items:center;
      padding:2em;
      width:100%;
      font:700 var(--fontmono);
      text-transform:uppercase;
    }
  }
  & > .nm-form {
    grid-area:form;
    & form {
      display:flex;
      justify-content:center;
      align-items:stretch;
      height:3rem;
      gap:1px;
      overflow:hidden;
      margin-top: 20px;
      & > span {
        display:flex;
        justify-content:center;
        align-items:stretch;
        outline: var(--border1);
        flex-grow:1;
        & > i {
          width:3rem;
          flex-shrink:0;
          border-right:var(--border1);
          align-content:center;
          text-align:center;
          color: rgba(var(--acento));
        }
        & input {
          flex-grow:1;
          background:none;
          outline:none;
          border:0;
          min-width:0;
          width:0!important;
          padding:0 1em;
          font-size: 11px;
          font-family: var(--fontmono);
          &:-internal-autofill-selected {
            background-clip:text;
            color:transparent;
            -webkit-text-fill-color:rgba(var(--acento));
            font-style:italic;
          }
        }
      }
      & > a {
        width:2rem;
        flex-shrink:0;
        border-right: var(--border1);
        align-content:center;
        text-align:center;
      }
      & > label, & > input.button1 {
        background:none;
        padding:0 2em;
        border:0;
        outline:0;
        place-content:center;
        font:700 9px var(--fontmono);
        text-transform:uppercase;
        flex-shrink:0;
        color:var(--text);
        cursor:pointer;
        font-weight:bold;
        &:is(.button1) {
          font: 500 10px var(--fontmono);
                        background: rgba(var(--acento));
                        font-weight: bold; }
        }
        & [type="checkbox"] {
          display:none;
        }
        &:has(*:checked) {
          color: #fff;
          font: 9px var(--fontmono);
          font-weight: 600;
          letter-spacing: .5px;
        }
      }
    }
  }
}
.nomires :where(.sd-cmp-2jVB1, .sd-cmp-1wlYk) {
  display: none;
}
.unloaded { opacity:0; }
html { background:black; }
body#phpbb { transition:opacity ease 1s; }
.password-container {
flex-grow: 1;
align-items: stretch;
gap:0px;
display: flex;
& input {
margin:0;
}
& img {
padding: .9rem;
filter:none;
transition:ease .4s;
&.show_hide_pwd.on {
filter:none;
padding:.85rem;
}
}
}
